<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Agregar items</title>
    <link
      rel="shortcut icon"
      href="https://www.svgrepo.com/show/207667/box.svg"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar bg-dark border-bottom border-body navbar-expand-lg" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">
          <img src="https://www.svgrepo.com/show/207667/box.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"/>
          Manejo de Inventario
        </a>
        <button class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../index.html"
                >Pantalla principal</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/Alejandramzp/Taller1_SpringBoot_MunozPaula-ForeroDaniela/blob/main/README.md">Documentacion</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Acciones
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="./read.html">Ver listados</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./create.html"
                    >Agregar información</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="./update.html"
                    >Actualizar información</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="./delete.html"
                    >Borrar información</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div class="p-3 m-0 border-0 bd-example m-0 border-0">
      <form onsubmit="createNewItem(); return false;"> <!-- Impide que la página se recargue -->
        <div class="mb-3">
            <label for="itemNombre" class="form-label">Nombre del producto</label>
            <input type="text" class="form-control" id="itemNombre" required/>
        </div>
    
        <div class="mb-3">
            <label for="itemProveedor" class="form-label">Proveedor del producto</label>
            <input type="text" class="form-control" id="itemProveedor" required/>
        </div>
    
        <div class="mb-3">
            <label for="categorias" class="form-label">Categoría del producto</label>
            <select class="form-select" aria-label="Default select example" id="categorias" required>
                <!-- Asegúrate de que haya opciones aquí -->
            </select>
        </div>
    
        <div class="mb-3">
            <label for="itemDescripcion" class="form-label">Descripción del producto</label>
            <textarea class="form-control" id="itemDescripcion" rows="3"></textarea>
        </div>
    
        <div class="mb-3">
            <label for="itemPrecio" class="form-label">Precio del producto</label>
            <input required type="number" min="500" max="10000000" step="100" class="form-control" id="itemPrecio"/>
        </div>
    
        <div class="mb-3">
            <label for="itemImagen" class="form-label">Link de la imagen</label>
            <input type="text" class="form-control" id="itemImagen" />
        </div>
    
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="../js/create.js"></script>
</html>
